body{
margin:0;
font-family:Arial;
background:#141414;
color:white;
overflow:hidden;
}

/* layout หลัก */
.posLayout{
display:flex;
height:100vh;
}

/* เมนูซ้าย */
.menu{
flex:1;
padding:20px;
overflow-y:auto;
padding-bottom:140px; /* กัน footer */
}

/* grid เมนู */
.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:15px;
}

/* order ขวา */
.orderPanel{
position:fixed;
top:0;
right:0;
width:320px;
height:100vh;

background:#1c1c1c;
border-left:2px solid #333;

display:flex;
flex-direction:column;
overflow:hidden;
padding:10px;
}

/* list เลื่อน */
#orderList{
flex:1;
overflow-y:auto;
min-height:0;
}

/* total ต้องเห็น */
.total{
flex-shrink:0;
padding:15px;
border-top:1px solid #333;
font-size:18px;
font-weight:bold;
background:#1c1c1c;
position:sticky;
bottom:0;
}

/* footer */
.posFooter{
position:fixed;
bottom:0;
left:0;
width:calc(100% - 320px);
background:#1c1c1c;
padding:15px;
display:flex;
gap:10px;
}
